#navbar {
  background-image: linear-gradient(black, #4C8DD8);
  overflow: hidden;
}

#navbar-insert {
  float: left;
  width: 100%;
  position: relative;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: rgba(0,0,0,0.5);
}

#onPage {
  text-decoration: none;
}

header{
  font-size: 30px;
}

body {
  color: white;
  font-family: cochin;
  background-color: #4C8DD8;
  text-align: center;
}

#selfie{
  width: 20%;
  height: auto;
  border-radius: 20px 20px;
}

#genInfo{
  /*float: left;*/
  box-sizing: border-box;
  background-color: black;
  padding: 15px;
  border: 5px solid white;
  width: 90%;
  height: auto;
  /*margin-right: 5%;*/
  margin: auto;
}

#credInfo{
  /*float: left;*/
  box-sizing: border-box;
  background-color: black;
  padding: 15px;
  border: 5px solid white;
  width: 90%;
  height: auto;
  margin: auto;
}

#awardA{
  width: 95%;
  height: auto;
  object-fit: contain;
}

#awardB{
  width: 95%;
  height: auto;
  object-fit: contain;
}

#awardC{
  width: 95%;
  height: auto;
  object-fit: contain;
}

#credInfo ul{
  list-style-type: none;
}

@media (min-width: 1000px){
  
  #selfie{
    width: 400px;
    height: auto;
    border-radius: 20px 20px;
  }
}

@media (min-width: 600px){
  
  #selfie{
    width: 200px;
    height: auto;
    border-radius: 20px 20px;
  }

  #genInfo{
    float: left;
    box-sizing: border-box;
    background-color: black;
    padding: 15px;
    border: 5px solid white;
    width: 40%;
    height: auto;
    margin-right: 5%;
    margin: 0 5%;
 }

  #credInfo{
    float: left;
    box-sizing: border-box;
    background-color: black;
    padding: 15px;
    border: 5px solid white;
    width: 40%;
    height: auto;
    margin: 0 5%;
  }

  #awardA{
    width: 95%;
    height: auto;
    object-fit: contain;
  }

  #awardB{
    width: 95%;
    height: auto;
    object-fit: contain;
 } 

  #awardC{
    width: 95%;
    height: auto;
    object-fit: contain;
  }

  #credInfo ul{
    list-style-type: none;
  }
}


footer{
  clear: left;
  background-image: linear-gradient(#4C8DD8, black);
  padding: 10px
}

#navbarTS {
  background-image: linear-gradient(black, #c41a0e);
  overflow: hidden;
}

#navbarTS-insert {
  float: left;
  width: 100%;
  position: relative;
}

#navbarTS ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navbarTS ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#navbarTS ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#navbarTS ul li a:hover {
  background-color: rgba(0,0,0,0.5);
}

#bioTS{
  box-sizing: border-box;
  padding: 30px;
  border: 3px solid white;
  width: 75%;
  height: auto;
  margin: auto;
  font-size: 20px;
}

#bodyTS {
  color: black;
  font-family: cochin;
  background-color: #c41a0e;
  text-align: center;
}

#outPic{
  width: 100%;
  height: 100%;
  margin: auto;
}

#intPic{
  width: 800px;
  height: auto;
}

#disPic{
  width: 800px;
  height: auto;
}

td, th {
	border: 1px solid;
  }
  
#specs{
  margin-left: auto;
  margin-right: auto;
}

#firstList{
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid white;
  width: 70%;
  height: auto;
  margin: 5% 13% 5% 13%;
  font-size: 20px;
}

#firstList ul{
  list-style-type: none;
}

#secList{
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid white;
  width: 70%;
  height: auto;
  margin: 5% 13% 1% 13%;
  font-size: 20px;
}

#secList ul{
  list-style-type: none;
}

#thirdList{
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid white;
  width: 72%;
  height: auto;
  margin: 5% 13% 5% 13%;
  font-size: 20px;
}

#thirdList ul{
  list-style-type: none;
}

#footerTS{
  clear: left;
  background-image: linear-gradient(#c41a0e, black);
  padding: 10px;
  color: white;
}

#navbarSM {
  background-image: linear-gradient(black, #f5f5dc);
  overflow: hidden;
}

#navbarSM-insert {
  float: left;
  width: 100%;
  position: relative;
}

#navbarSM ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navbarSM ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#navbarSM ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#navbarSM ul li a:hover {
  background-color: rgba(0,0,0,0.5);
}

#bodySM {
  color: black;
  font-family: cochin;
  background-color: #f5f5dc;
  text-align: center;
}

.picCont{
  width: 100%;
  height: 80px;
  
}

#smSun1{
  width: 40%;
  height: auto;
  padding: 10px;
}

#smSun2{
  width: 40%;
  height: auto;
  padding: 10px;
}

#smFall1{
  width: 25%;
  height: auto;
  padding: 10px;
}

#smFall2{
  width: 25%;
  height: auto;
  padding: 10px;
}

#smFall3{
  width: 25%;
  height: auto;
  padding: 10px;
}

#rText{
  margin: 2% 10% 2% 10%;
}

#hText{
  margin: 2% 10% 2% 10%;
}

#oHigh ul{
  list-style-type: none;
}

#footerSM{
  clear: left;
  background-image: linear-gradient(#f5f5dc, black);
  padding: 10px;
  color: white;
}

#map{
  width: 80%;
  height: 400px;
  background-color: white;
  margin: auto;
}
#navbarM {
  background-image: linear-gradient(black, white);
  overflow: hidden;
}

#navbarM-insert {
  float: left;
  width: 100%;
  position: relative;
}

#navbarM ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navbarM ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#navbarM ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#navbarM ul li a:hover {
  background-color: rgba(0,0,0,0.5);
}

#bodyM {
  color: black;
  font-family: cochin;
  background-color: white;
  text-align: center;
}

#elev{
  font-size: 40px;
  float: left;
  margin: 0 10%;
}

#footerME{
  clear: left;
  background-image: linear-gradient(white, black);
  padding: 10px;
}